.vc_custom_1463148379933 {
	border-bottom-width: 1px !important;
	border-bottom-color: #dddddd !important;
	border-bottom-style: solid !important;
}

.vc_custom_1463148754510 {
	border-bottom-width: 1px !important;
	background-color: #fafafa !important;
	border-bottom-color: #dddddd !important;
	border-bottom-style: solid !important;
}

.vc_custom_1464268532742 {
	padding-top: 40px !important;
}

.go-to-top.visible {
    cursor: pointer;
}

.main-header.menu-type-standard-menu .standard-menu-container ul li a {
    cursor: pointer;
}

footer.site-footer {
	background-color: #2087dc !important
}

.main-header.is-sticky.sticky-fixed .get-the-app a {
	background: #2087dc;/* button header color */
	color: #fff !important;
}

.vc_custom_header {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
    background: #2087dc;/* header background */
}

.vc_custom_1463492522689 {
    /* background-image: url(../img/bg-1.png) !important; */
    background-color: rgb(19, 105, 185);
	background-position: 0 0 !important;
	background-repeat: repeat !important;
}

.vc_custom_1498220066719 {
	padding-top: 0px !important;
}

.vc_custom_1498224592367 {
	padding-top: 0px !important;
}

.vc_custom_1498219725582 {
	padding-top: 0px !important;
}

.vc_custom_1485528964151 {
	margin-bottom: 0px !important;
}

.vc_custom_1464261818858 {
	margin-bottom: 0px !important;
}

.vc_custom_1464261826530 {
	margin-bottom: 0px !important;
}

.vc_custom_1464261833695 {
	margin-bottom: 0px !important;
}

.vc_custom_1464261844756 {
	margin-bottom: 0px !important;
}

.vc_custom_1464261852421 {
	margin-bottom: 0px !important;
}

.vc_custom_1463053160569 {
	margin-bottom: 0px !important;
}

.vc_custom_1463052357364 {
	padding-top: 40px !important;
}

.vc_custom_1498224749148 {
	margin-right: 0px !important;
	margin-left: 0px !important;
	padding-top: 35px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.vc_custom_1498224614541 {
	margin-right: 0px !important;
	margin-left: 0px !important;
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.vc_custom_1498224617960 {
	margin-right: 0px !important;
	margin-left: 0px !important;
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.vc_custom_1464261676761 {
	margin-bottom: 0px !important;
}

.vc_custom_1464261716529 {
	margin-bottom: 0px !important;
}

.vc_custom_1464261725872 {
	margin-bottom: 0px !important;
}

.vc_custom_1464261732658 {
	margin-bottom: 0px !important;
}

.vc_custom_1464261739831 {
	margin-bottom: 0px !important;
}

.vc_custom_1464261747536 {
	margin-bottom: 0px !important;
}

.vc_custom_1463055785974 {
	margin-top: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 20px !important;
}

.vc_custom_1464268545885 {
	margin-bottom: 30px !important;
	padding-top: 30px !important;
}

.vc_custom_1498219675912 {
	padding-top: 0px !important;
}

.vc_custom_1498219678994 {
	padding-top: 0px !important;
}

.vc_custom_1463059209186 {
	margin-bottom: 0px !important;
	padding-top: 50px !important;
}